FontPatcher
fonts
release
source/cjk/**/*.ttf
source/cjk/**/*.otf
source/cjk/**/*.vfc
!source/cjk/variable-source/MapleMono-CJK-Base-VF.vfc
!source/cjk/variable-source/MapleMono-CJK-Base-VF.ttf
source/*.glyphs
cdn

__pycache__
.DS_Store
*.zip
.venv
.vscode
*.backup
